.forborder{
    border-style: solid;
    border-width: 2px;
    text-align: center;
     padding-bottom: 12px;
    width: 515px;
    margin: auto;
    margin-bottom: 63px;
    margin-top: 26px;
}
.menu{
    font-size: small;
    margin-right: 10px; text-decoration: none; color: black;
}
p.forh1font{
    font-family: "Georgia";
    font-weight: 500;
    font-size: 45px;
    color: rgb(48, 44, 44);
    margin: 3px;
    margin-top: 14px;
}
.foranchor{
    font-style: italic;
    text-align: center;

}
.icons {
    padding: 7px;
    height: 12px;
    width: 12px;
    text-decoration: none;  
}
.pictures{

    width: 600px;
    height: 586px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    object-fit: cover;
    
}
.ppage2{
    font-size: xx-large;
    
}